
body {
            background: #fff;
            color: #505050;
            font: 14px 'Segoe UI', tahoma, arial, helvetica, sans-serif;
            margin: 20px;
            padding: 0;
        }

        #header {
            background: #efefef;
            padding: 0;
        }

        h1 {
            font-size: 70px;
            color: #000000;
            background: #fff;             
            margin:10px 300px;
            line-height: 150px;   
            text-align: center;      
        }

        h3 {
            font-size: 25px;
            color: #5389d2;  
            background-color: #000000;           
            margin:0 300px;
            line-height: 150px;  
            text-align: center;      
            
        }
         h4 {
            font-size: 25px;
            color: #000000;  
            background-color: #fff;           
            margin:0 auto;  
            line-height: 30px;          
            text-align: center;                
            

        }
          h5 {
            font-size: 17px;
            color: #000000;
            background: #fff;             
            margin:10px 300px;
            line-height: 17px;   
            text-align: left;      
        }

      
         p {
            font-size: 20px;
            color: #000000;
            background: #fff;
            margin:10px 300px;
            padding: 0 5px;
            line-height: 30px;
             width: 900px;
}

        ul {
            list-style: none;
            color: #15467c;
            padding: 0;
            margin: 0;
            line-height: 20px;
        }

        li {
            font-size: 20px;
            color: #000000;
            background: #fff;
            margin:10px 300px;
            line-height: 30px;
            padding: 4px 0;
        }

        a {
            color: #5389d2;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }